{% load static %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Poly Log Co.
                  
               | Design: <a rel="nofollow" href="https://instagram.com/sa.eed3982" target="_parent">Saeed</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>